<div class="container-fluid pt-4 px-4" >
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-center mb-4">
            <div class="mb-0 text-center h4" >Demande de rendez vous - {{ service.nom }}</div>
        </div>
        <div>
            <form (ngSubmit)="4" class="row">
                <div class="mb-3 col-sm-12 col-xl-12">
                    <label for="service" class="form-label text-white">Veuillez selectionner un employé</label>
                    <select formControlName="employee" id="" class="form-select">
                        <option selected value="">Veuillez choisir une option</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

