<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Historique des rendez-vous</p>
        </div>
        <div class="row g-4 bg-secondary text-center rounded p-4">
            <table class="table table-bordered">
                <thead class="thead-primary text-light">
                    <tr >
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Service</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rdv of rendezVous">
                        <td>{{ rdv.date }}</td>
                        <td>{{ rdv.startHour+":00" }}</td>
                        <td>{{ rdv.service.nom }}</td>
                        <td>{{ rdv.service.duree }}H</td>
                    </tr>
                    <tr *ngIf="isLoading">
                        <td colspan="4"><app-spinner></app-spinner></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Service End -->