   <!-- Navbar Start -->
   <nav class="navbar navbar-expand-lg bg-secondary navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a routerLink="/client/service" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="mb-0 text-primary text-uppercase"><i class="fa fa-cut me-3"></i>m1p11mean</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/client/service" class="nav-item nav-link" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a>
            <a routerLink="/client/tarifs" class="nav-item nav-link" routerLinkActive="active" class="nav-item nav-link">Tarifs</a>
            <a routerLink="/client/rendez-vous" class="nav-item nav-link" routerLinkActive="active" class="nav-item nav-link">Historique rendez-vous</a>
        </div>
        <a (click)="logout()" class="btn btn-primary rounded-0 py-2 px-lg-4 d-lg-block">Déconnexion<i class="fas fa-sign-out-alt ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

<!-- Page content -->
<router-outlet></router-outlet>
<!-- Page content End -->

<!-- Footer component start -->
<app-footer></app-footer>
<!-- Footer component End -->
    