<!-- Sign Up Start -->
<div class="container-fluid">
  <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <form class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3" [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <a class="">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>S'inscrire</h3>
          </a>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingFirstName" formControlName="firstName" placeholder="Nom">
          <label for="floatingFirstName">Nom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingLastName" formControlName="lastName" placeholder="Prénom">
          <label for="floatingLastName">Prénom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" formControlName="email" placeholder="Adresse Email">
          <label for="floatingEmail">Adresse email</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Mot de passe">
          <label for="floatingPassword">Mot de passe </label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingConfirmPassword" formControlName="confirmPassword" placeholder="Confirmez le mot de passe">
          <label for="floatingConfirmPassword">Confirmez le mot de passe</label>
        </div>
        <p *ngIf="registrationForm.hasError('mismatch')" class="text-danger">
          Les mots de passe ne correspondent pas.
        </p>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Inscription</button>
        <p class="text-center mb-0">Vous avez déjà un compte? <a routerLink="">Se connecter</a></p>
      </form>
    </div>
  </div>
</div>
<!-- Sign Up End -->