<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Mes rendez-vous</h6>
            </div>
            <table class="table table-bordered">
                <thead class="thead-primary text-light">
                    <tr >
                        <th>Client</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rdv of rendezVous">
                        <td>{{ rdv.client.firstName+" "+rdv.client.lastName }}</td>
                        <td>{{ rdv.date }}</td>
                        <td>{{ rdv.startHour+":00" }}</td>
                        <td>{{ rdv.service.duree }}H</td>
                    </tr>
                    <tr *ngIf="isLoading">
                        <td colspan="4"><app-spinner></app-spinner></td>
                    </tr>
                    <tr *ngIf="!isLoading && rendezVous.length==0">
                        <td colspan="4">Aucune rendez-vous</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Service End -->